body {
    background-color: lavender;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.smallProfilePic {
    width: 200px;
    height: 100px;
    object-fit: cover;
    object-position: center;
}

.bigProfilePic {
    width: 600px;
    height: 300px;
    object-fit: cover;
    object-position: center;
}

.uploadModal {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(50%, 50%);
    z-index: 2;
    width: 70%;
    height: 20%;
    background-color: lightblue;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
