* {
    box-sizing: border-box;
}

body {
    background-color: lightblue;
    margin: 0;
    font-size: 15px;
}

h1 {
    text-align: center;
}

input {
    margin: 10px auto;
    font-size: 15px;
}

button {
    box-shadow: 3px 4px 0px 0px #8a2a21;
    background: linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
    background-color: #c62d1f;
    border-radius: 18px;
    border: 1px solid #d02718;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 17px;
    padding: 8px 20px;
    margin: 10px auto;
    text-decoration: none;
    text-shadow: 0px 1px 0px #810e05;
}
button:hover {
    background: linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
    background-color: #f24437;
}
button:active {
    position: relative;
    top: 1px;
}
button:focus {
    outline: none;
}
/* button {
    margin: 10px auto;
    font-size: 15px;
}

button:hover {
    background: grey;
    color: white;
    cursor: pointer;
} */

.error {
    color: red;
    font-weight: bold;
}

.center {
    display: flex;
    justify-content: center;
}

.bigLogo {
    width: 200px;
    height: 100px;
    object-fit: fill;
    margin: 10px auto;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .btn {
    font-size: 15px;
}

.btn:hover {
    background: grey;
    color: white;
    cursor: pointer;
} */

.logo {
    width: 200px;
    height: 100px;
    object-fit: fill;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: grey;
}

.friendsBox {
    margin: 20px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.smallProfilePic {
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

.bigProfilePic {
    width: 300px;
    height: 500px;
    object-fit: cover;
    object-position: center;
}

.smallPic {
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: center;
}

.uploadModal {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(50%, 50%);
    z-index: 2;
    width: 70%;
    height: 20%;
    background-color: lightblue;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
