body {
    background-color: lavender;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.btn {
    font-size: 15px;
}
.logo {
    width: 200px;
    height: 100px;
    object-fit: fill;
}

.headerPic {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.smallProfilePic {
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

.bigProfilePic {
    width: 300px;
    height: 500px;
    object-fit: cover;
    object-position: center;
}

.smallPic {
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: center;
}

.uploadModal {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(50%, 50%);
    z-index: 2;
    width: 70%;
    height: 20%;
    background-color: lightblue;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
