* {
    box-sizing: border-box;
}

body {
    background-color: lightblue;
    margin: 0;
    min-width: 755px;
    font-size: 15px;
    font-family: "Ubuntu", sans-serif;
}

h1 {
    text-align: center;
}

input {
    margin: 10px auto;
    font-size: 15px;
    width: 190px;
}

textarea {
    width: 500px;
    height: auto;
    resize: none;
    font-size: inherit;
}

/* ///////////BUTTON//////////////// */

button {
    box-shadow: 3px 4px 0px 0px #283593;
    background: linear-gradient(to bottom, #7986cb 5%, #9fa8da 100%);
    background-color: #7986cb;
    border-radius: 18px;
    border: 1px solid #5c6bc0;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 17px;
    padding: 8px 20px;
    margin: 10px auto;
    text-decoration: none;
    text-shadow: 0px 1px 0px #283593;
}

button:hover {
    background: linear-gradient(to bottom, #9fa8da 5%, #7986cb 100%);
    background-color: #9fa8da;
}
button:active {
    position: relative;
    top: 1px;
}

button:focus {
    outline: none;
    border-radius: 20px;
    box-shadow: 3px 4px 0px 0px rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);
}

.redBtn {
    box-shadow: 3px 4px 0px 0px #8a2a21;
    background: linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
    background-color: #c62d1f;
    border-radius: 18px;
    border: 1px solid #d02718;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 17px;
    padding: 8px 20px;
    margin: 10px auto;
    text-decoration: none;
    text-shadow: 0px 1px 0px #810e05;
}

.redBtn:hover {
    background: linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
    background-color: #f24437;
}
/* button {
    margin: 10px auto;
    font-size: 15px;
}

button:hover {
    background: grey;
    color: white;
    cursor: pointer;
} */

/* .btn {
font-size: 15px;
}

.btn:hover {
background: grey;
color: white;
cursor: pointer;
} */

/* /////////////////FORM////////////////// */
.error {
    color: red;
    font-weight: bold;
}

.center {
    display: flex;
    justify-content: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form input {
    border-radius: 20px;
    padding: 5px;
    border-color: #283593;
}

input:focus {
    outline: none;
    border-radius: 20px;
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);
}

/* ////////////////IMAGES/////////////////// */
.smallProfilePic {
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

.bigProfilePic {
    width: 300px;
    height: 500px;
    object-fit: cover;
    object-position: center;
}

.smallPic {
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: center;
}

.bigLogo {
    width: 200px;
    height: 100px;
    object-fit: fill;
    margin: 10px auto;
}

.logo {
    width: 200px;
    height: 100px;
    object-fit: fill;
}

/* ///////////////////HEADER//////////////// */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: grey;
}

.header a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    min-width: 90px;
    text-align: center;
}

.header a:hover {
    color: #add8e6;
}

/* ///////////////////BOX STYLINGS//////////////// */

.friendsBox {
    margin: 20px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.uploadModal {
    position: absolute;
    top: 20%;
    right: 50%;
    transform: translate(50%, 50%);
    z-index: 2;
    min-width: 400px;
    padding: 20px;
    background-color: lightgrey;
    border-radius: 10px;
    border: black;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.deleteModal {
    position: absolute;
    top: 20%;
    right: 50%;
    transform: translate(50%, 50%);
    z-index: 2;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    padding: 20px;
    background-color: orange;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bio {
    width: 500px;
}

/* /////////////////////CHAT///////////////// */
.chat {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chat-container {
    height: 500px;
    overflow-y: scroll;
    background-color: grey;
    margin-bottom: 10px;
}

#chatMessage {
    display: grid;
    grid-template-columns: 120px auto;
    grid-template-rows: auto auto;
    grid-column-gap: 20px;
    grid-template-areas:
        "leftCorner chatText"
        ". chatText";
    /* display: flex; */
    /* align-items: center; */
    width: fit-content;
    max-width: 600px;
    word-break: normal;
    padding: 5px;
    margin: 15px 15px;
    background-color: azure;
    border-radius: 10px;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.8),
        0 0 40px rgba(0, 0, 0, 0.1) inset;
}

#chatText {
    grid-area: chatText;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 5px;
}

#postedTimeStamp {
    align-self: flex-end;
    margin: 0;
}

#leftCorner {
    grid-area: leftCorner;
}

/* ////////////////////////////FindPeople List//////////////////// */

.find-people {
    text-align: center;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}

.people-container {
    /* display: flex;
    justify-content: space-around; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 2rem;
    grid-template-rows: auto;
    margin-bottom: 20px;
}
.people-container div {
    /* grid-row: 2/3;
    align-self: end; */
}

.find-people input {
    border-radius: 20px;
    padding: 5px;
    border-color: #283593;
}

/* /////////////////////////////other profile//////////////////////// */
.profilePage h1 {
    background: #f5f5dc73;
    border-radius: 5px;
}

.profilePage {
    padding-top: 200px;
    padding-right: 200px;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("/img/kelly-sikkema-profilebackground.jpg");
    background-position: center;
    background-size: cover;
}

/* //////////////////////////////LINKS////////////////////////////// */
#delete {
    text-decoration: none;
    color: firebrick;
}

#delete:hover {
    color: red;
}

a {
    text-decoration: none;
    color: black;
}
a:hover {
    color: blue;
}
